.home-hero-div{
    /* background-color: yellowgreen; */
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;

}
.home-body-div-1{
    height: 100vh;
    background-color: violet;
}


    
    .home-hero-sub-div1 {
         grid-area: 1 / 1 / 2 / 2; 
         /* background-color: aqua; */
        }
    .home-hero-sub-div2 {
         grid-area: 1 / 2 / 2 / 3; 
         /* background-color: blue; */
    }



.home-hero-sub-div-1-div{
    /* background-color: blueviolet; */
    margin-left: 150px;
    margin-top: 170px;

}
.home-hero-sub-div-1-p1{
    font-size: 64px;
    font-weight: 400;

}
.home-hero-sub-div-1-p2{
    font-size: 96px;
    font-weight: 600;
    margin-top: -60px;
    margin-bottom: 10px;
    color: var(--red-600) ;
    
}
.home-hero-sub-div-1-button{
    background-color: var(--red-600);
    width: 214px;
    height: 56px;
    border: 1px ;
    border-radius: 10px;
    padding: 10px 48px 10px 48px;
    margin-top: 10px;
    font-size:24px ;
    font-weight: 400;
    color: var(--primary-50);
}



.home-hero-sub-img-div{
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
    margin-top: 100px;
    
}
.home-hero-img{
    width:560px;
    height:538px ;
}